doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title My Site

    block styles
      link(rel="stylesheet", href="/css/styles.css")

    block javascript
      // nothing yet

  body
    block header
      h1 This is the header

    main
      block content

    block footer
      footer
        p some footer content

    block scripts-bottom
      script(src="/js/scripts.js")
