block config
  include ../partials/config

block mixins
  include ../mixins/navigation

doctype
html(lang="en")
  head
    block meta
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      meta(name="description", content=`${metaDescription}`)

    title=`${pageTitle} | ${siteName}`

    block styles
      link(rel="stylesheet", href="css/styles.css")

    block scripts
      //- nothing yet

  body
    header
      block header
        h1 Home
    
    block navigation
      a(href="#" class="navigation__toggle" id="nav-toggle")
        <svg viewBox="0 0 60 60" class="hamburger-icon">
          <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke="#000" stroke-width="3">
            <path d="M5 30h51M5 47h51M5 12h51"/>
          </g>
        </svg>

        <svg viewBox="0 0 60 60" class="close-icon">
          <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke="#000" stroke-width="3">
            <path d="M56 47L5 12M56 12L5 47"/>
          </g>
        </svg>


      +navigation(pages)

    main
      block content

    block footer
      footer
        p some footer content

    block scripts-bottom
      script(src="js/scripts.js")
