h1#block-elements Block Elements

h2#paragraph-and-images Paragraph and images

p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum molestias tempore animi, beatae commodi ipsum accusantium vel. Quibusdam, itaque. Enim, laborum, modi eius sunt molestiae dolores error saepe nemo inventore.
p Cupiditate suscipit esse beatae, ratione quas eligendi quia ullam delectus cumque reprehenderit ipsa eius distinctio, excepturi nostrum quam. Accusantium rem sequi placeat quia, iure libero dolores odit eum pariatur fuga.

img(src="http://placehold.it/350x150", alt="Placeholder image alt text", title="A Title of the image")

p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nisi quod mollitia alias fugit, at nam odio magni neque omnis dolores vitae accusantium laboriosam totam, odit veritatis tenetur ducimus perferendis.

h2#blockquote Blockquote

p This is a standard paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, blanditiis.

blockquote "<strong>This is a blockquote.</strong>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem sit dolorem natus esse voluptas ab eligendi quae nesciunt, adipisci inventore."

p This is a standard paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, blanditiis.

h2#figure-caption figure-caption

figure
  img(src="http://placehold.it/350x150", alt="Placeholder image alt text", title="A Title of the image")
  figcaption The figcaption element example
  
h2#details-summary Details-Summary

details
  summary The summary element example
  p The details example text. It may be styled differently based on what browser or operating system you are using.
