h1#colors Colors
	ul.colors-list
		li.colors-list__item
			.colors-list__swatch(data-color="#fff")
			span.color-list__name $color-initial: #fff
		li.colors-list__item
			.colors-list__swatch(data-color="#9b4dca")
			span.color-list__name $color-primary: #9b4dca
		li.colors-list__item
			.colors-list__swatch(data-color="#555555")
			span.color-list__name $color-secondary: #555555
		li.colors-list__item
			.colors-list__swatch(data-color="#f4f5f6")
			span.color-list__name $color-tertiary: #f4f5f6
		li.colors-list__item
			.colors-list__swatch(data-color="#d1d1d1")
			span.color-list__name $color-quaternary: #d1d1d1
		li.colors-list__item
			.colors-list__swatch(data-color="#e1e1e1")
			span.color-list__name $color-quinary: #e1e1e1
