h1#monospace Monospace / Preformatted

p Code block wrapped in "pre" and "code" tags

pre
  code
    | // Loop through Divs using Javascript.
    | var divs = document.querySelectorAll('div'), i;
    | for (i = 0; i < divs.length; ++i) {
    |   divs[i].style.color = "green";
    | }
    
p Monospace Text wrapped in "pre" tags

pre
  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem
  | nulla voluptate ab officia tenetur, error deleniti quasi
  | obcaecati beatae labore qui ullam magnam fugiat dolores et, nam
  | eum. Iusto, numquam.
