h1#tables Tables

table(cellspacing="0" cellpadding="0")
  caption This is a table caption
  thead
    tr 
      th Table Header 1
      th Table Header 2
      th Table Header 3
  tbody
    tr
      td Division 1
      td Division 2
      td Division 3
    tr.even
      td Division 1
      td Division 2
      td Division 3
    tr
      td Division 1
      td Division 2
      td Division 3
    tr
      td(colspan="3") A row with a cell spanning all 3 columns
  tfoot
    tr
      td Table footer 1
      td Table footer 2
      td Table footer 3
      
