h1#text-elements Text Elements

p The <a href="#">a element</a> and <a href="http://example.com">external element</a> exapmples.

p The <abbr>abbr</abbr> element and an <abbr title="Abbreviation">abbr</abbr> element with title examples

p The <acronym title="A Cowboy Ran One New York Marathon">ACRONYM</acronym> element example

p The <b>b element</b> example

p The <cite>cite element</cite> example

p The <code>code element</code> example

p The <data value="3967381398">data element</data> example

p The <del>del element</del> example

p The <dfn>dfn element</dfn> and <dfn title="Title text">dfn element with title</dfn> examples

p The <em>em element</em> example

p The <i>i element</i> example

p The <ins>ins element</ins> example

p The <kbd>kbd element</kbd> example

p The <mark>mark element</mark> example

p The <q>q element</q> example

p The <q>q element <q>inside</q> a q element</q> example

p The <s>s element</s> example

p The <samp>samp element</samp> example

p The <small>small element</small> example

p The <span>span element</span> example

p The <strong>strong element</strong> example

p The <sub>sub element</sub> example

p The <sub>sub element</sub> example

p The <sup>sup element</sup> example

p The <time datetime="2005-05-15 19:00">time element</time> example

p The <u>u element</u> example

p The <var>var element</var> example
