.pattern__header,
.pattern__main {
  @include wrapper(90%, 45rem);
}

.colors-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.colors-list__swatch {
  height: 200px;
  border-radius: 1rem;
}

.color-list_swatch--initial {
  background-color: var(--color-initial);
}

.color-list_swatch--primary {
  background-color: var(--color-primary);
}

.color-list_swatch--secondary {
  background-color: var(--color-secondary);
}

.color-list_swatch--tertiary {
  background-color: var(--color-tertiary);
}

.color-list_swatch--quaternary {
  background-color: var(--color-quaternary);
}

.color-list_swatch--quinary {
  background-color: var(--color-quinary);
}

.color-list_swatch--black {
  background-color: var(--color-black);
}

.color-list_swatch--dark-grey {
  background-color: var(--color-dark-grey);
}

.color-list_swatch--mid-grey {
  background-color: var(--color-mid-grey);
}

.color-list_swatch--light-grey {
  background-color: var(--color-light-grey);
}

.icon-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  grid-gap: 1.5rem;
}

.icon-list__item {
  border: 1px solid lightgray;
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  svg {
    width: 4rem;
    height: 4rem;
  }
  span {
    text-align: center;
    padding-top: 1rem;
  }
}
