.grid-btn {
	color: white;
	background-color: black;
	border: 2px solid;
	display: block;
	font-size: 14px;
	font-weight: $regular-weight;
	line-height: 2em;
	padding: 0 1em;
	text-align: center;
	position: fixed;
	right: 1em;
	top: 1em;
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		color: white;
	}
}