h1#colors Colors
ul.colors-list
  li.colors-list__item
    .colors-list__swatch.color-list_swatch--initial
    span.color-list__name $color-initial
  li.colors-list__item
    .colors-list__swatch.color-list_swatch--primary
    span.color-list__name $color-primary
  li.colors-list__item
    .colors-list__swatch.color-list_swatch--secondary
    span.color-list__name $color-secondary
  li.colors-list__item
    .colors-list__swatch.color-list_swatch--tertiary
    span.color-list__name $color-tertiary
  li.colors-list__item
    .colors-list__swatch.color-list_swatch--quaternary
    span.color-list__name $color-quaternary
  li.colors-list__item
    .colors-list__swatch.color-list_swatch--quinary
    span.color-list__name $color-quinary
  li.colors-list__item
    .colors-list__swatch.color-list_swatch--black
    span.color-list__name $black
  li.colors-list__item
    .colors-list__swatch.color-list_swatch--dark-grey
    span.color-list__name $dark-grey
  li.colors-list__item
    .colors-list__swatch.color-list_swatch--mid-grey
    span.color-list__name $mid-grey
  li.colors-list__item
    .colors-list__swatch.color-list_swatch--light-grey
    span.color-list__name $light-grey
  