-
  const iconList = [
    {
      name: 'chevron-right',
      id: 'icon-chevron-right'
    },
    {
      name: 'chevron-left',
      id: 'icon-chevron-left'
    },
    {
      name: 'chevron-up',
      id: 'icon-chevron-up'
    },
    {
      name: 'chevron-down',
      id: 'icon-chevron-down'
    },
    {
      name: 'triangle-right',
      id: 'icon-triangle-right'
    },
    {
      name: 'triangle-left',
      id: 'icon-triangle-left'
    },
    {
      name: 'triangle-up',
      id: 'icon-triangle-up'
    },
    {
      name: 'triangle-down',
      id: 'icon-triangle-down'
    },
    {
      name: 'close',
      id: 'icon-close'
    },
    {
      name: 'search',
      id: 'icon-search'
    },
    {
      name: 'share2',
      id: 'icon-share2'
    },
    {
      name: 'facebook',
      id: 'icon-facebook'
    },
    {
      name: 'instagram',
      id: 'icon-instagram'
    },
    {
      name: 'twitter',
      id: 'icon-twitter'
    },
  ]


include ../../mixins/icons

h1#icons Icons

+icons(iconList)
