ol#toc.toc
  li.toc__item
    a(href="#colors") Colors
  li.toc__item
    a(href="#fluid-vertical-rhythm") Fluid Vertical Rhythm
  li.toc__item
    a(href="#headings") Headings
  li.toc__item
    a(href="#headings-with-text") Headings with text
  li.toc__item
    a(href="#block-elements") Block Elements
  li.toc__item
    a(href="#text-elements") Text Elements
  li.toc__item
    a(href="#monospace") Monospace / Preformatted
  li.toc__item
    a(href="#list-types") List Types
  li.toc__item
    a(href="#tables") Tables
  li.toc__item
    a(href="#form-elements") Form Elements
  li.toc__item
    a(href="#icons") Icons
