<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Frontend boilerplate styleguide
  link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700")
  link(rel="stylesheet", href="css/style.css")
body
  header.o-header
    h1 Frontend boilerplate styleguide
  main.o-main
    include ./partials/headings
    hr
    include ./partials/headings-with-text
    hr
    include ./partials/block-elements.pug
    hr
    include ./partials/text-elements.pug
    hr
    include ./partials/monospace.pug
    hr
    include ./partials/list-types.pug
    hr
    include ./partials/tables.pug
    hr
    include ./partials/media.pug
    hr
    include ./partials/form-elements.pug
    
