<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  link(rel="stylesheet", href="css/main.css")
body
  include ./partials/heading.pug

  h3 this is a subheading on index.pug
  script(src="js/index.js")