table {
  width: 100%;
}

td,
th {
  border-bottom: 1px solid $color-secondary;
  padding: calc($(baseline) / 2) 1em;
  text-align: left;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}
