extends ../partials/base.pug

append config
  - pageTitle = 'About'
  - metaDescription = 'About page meta description'
  - currentPage = 'about.html'

block header
  h1=pageTitle

block content
  h2 Content About us

  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eaque ex dolores, voluptatibus eos quia distinctio quo tempora reiciendis tenetur incidunt perferendis unde maxime illum quaerat dolorem. Fugiat, perferendis placeat.
