extends ../partials/base.pug

block content
  h2 This a content block

  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eaque ex dolores, voluptatibus eos quia distinctio quo tempora reiciendis tenetur incidunt perferendis unde maxime illum quaerat dolorem. Fugiat, perferendis placeat.
