extends ../partials/base.pug

append config
  - pageTitle = 'Services'
  - metaDescription = 'Services page meta description'
  - currentPage = 'services.html'

block header
  h1=pageTitle

block content
  h2 Our services

  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eaque ex dolores, voluptatibus eos quia distinctio quo tempora reiciendis tenetur incidunt perferendis unde maxime illum quaerat dolorem. Fugiat, perferendis placeat.
