<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title Frontend boilerplate styleguide
  link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700")
  link(rel="stylesheet", href="css/styles.css")
body
  //- a(href="#").grid-btn Grid On

  header.pattern__header
    h1 Frontend boilerplate styleguide
  
  main.pattern__main
    include ../partials/patterns/toc.pug
    hr
    include ../partials/patterns/colors.pug
    hr
    include ../partials/patterns/vertical-rythm
    hr
    include ../partials/patterns/headings
    hr
    include ../partials/patterns/headings-with-text
    hr
    include ../partials/patterns/block-elements.pug
    hr
    include ../partials/patterns/text-elements.pug
    hr
    include ../partials/patterns/monospace.pug
    hr
    include ../partials/patterns/list-types.pug
    hr
    include ../partials/patterns/tables.pug
    hr
    //- include ../partials/patterns/media.pug
    //- hr
    include ../partials/patterns/form-elements.pug
    hr
    include ../partials/patterns/icons.pug
    hr    
